<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymeleaf.org">

<head>
    <title>Events & People</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/resources/css/styling.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/allEvents.css">
</head>

<body id="eventspeoplebody">
<ul>
    <li><a href="/">Home</a></li>
    <li><a class="active" href="/user/eventsAndPeople">Events & People</a></li>
    <li><a href="./Trade.html">Trade</a></li>
    <li><a href="">Wiki</a></li>
    <li><a href="#account">Account</a></li>
    <li><a href="/user/aboutUs">About us</a></li>
    <li style="float:right">
        <a href="/logout">Sign out</a>
    </li>
</ul>

<br>
<p>
    <img class="logo" src="/resources/images/logo.png" width="400" height="175">
    <span class="heading"> &nbsp Choose your game & find a team! </span>
</p>


<br>

<br>
<table align="center" class="transbox">
    <thead class ="specialText">
    <tr class="blue">
        <th scope="col"> Id </th>
        <th scope="col"> Name </th>
        <!--<th scope="col"> Games </th>-->
        <th scope="col"> Date </th>
        <th scope="col"> Description </th>
        <!--<th scope="col"> Latitude </th>-->
        <!--<th scope="col"> Longitude </th>-->
    </tr>
    </thead>
    <tbody class ="specialText" >
    <th:block th:each="event : ${events}">

        <tr>


            <td><a th:href="@{'/user/seeAll/events/' + ${event.name}}" th:text="${event.name}">...</a></td>
            <!--<td><a th:href="@{'/user/seeAll/events/' + ${event.name}}" th:text="${event.games}">...</a></td>-->
            <td><a th:href="@{'/user/seeAll/events/' + ${event.name}}" th:text="${event.date}">...</a></td>
            <td><a th:href="@{'/user/seeAll/events/' + ${event.name}}" th:text="${event.description}">...</a></td>
        </tr>

    </th:block>
    </tbody>
</table>

<br><br>
<div id="footer">
    <br>
    <div align="center">
        <a href="https://www.facebook.com/The-BoardFinders-1834097936893854/" target="_blank"><img src="/resources/images/1.png" width ="90" height ="90"></a> &nbsp
        <a href="https://twitter.com/Todorakisa" target="_blank"><img src="/resources/images/2.png" width ="90" height ="90"></a> &nbsp
        <a href="https://plus.google.com" target="_blank"><img src="/resources/images/3.png" width ="90" height ="90"></a> &nbsp
        <a href="https://www.instagram.com/todor.domitrov2000/" target="_blank"><img src="/resources/images/4.png" width ="90" height ="90"></a> &nbsp
        <br><br>
        <a href="#Advertising" style="text-decoration: none" target="_blank"><b>Advertising</b></a>&nbsp
        |&nbsp <a href="#Terms" style="text-decoration: none" target="_blank"><b>Terms and Conditions</b></a>&nbsp
        |&nbsp <a href="#FAQ" style="text-decoration: none" target="_blank"><b>FAQ</a></b>&nbsp
        |&nbsp <a href="#Contact" style="text-decoration: none" target="_blank"><b>Contact us</b></a>
        <br><br>
        <span id="copy">Copyright © 2018 Board Game inc.™</span>
        <br><br>
    </div>
</div>

</body>
</html>

