<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymeleaf.org">

<head>
    <title>Events & People</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/resources/css/styling.css">
</head>

<body id="eventspeoplebody">
<ul>
    <li><a href="/">Home</a></li>
    <li><a class="active" href="/user/eventsAndPeople">Events & People</a></li>
    <li><a href="./Trade.html">Trade</a></li>
    <li><a href="#chat">Wiki</a></li>
    <li><a href="#account">Account</a></li>
    <li><a href="/user/aboutUs">About us</a></li>
    <li style="float:right">
        <a href="/logout"><img src="/resources/images/user.png" width="30" height="30" style="vertical-align: middle">Sign out</a>
    </li>
</ul>

<br>
<p>
    <img class="logo" src="/resources/images/logo.png" width="400" height="175">
    <span class="heading"> &nbsp Choose your game & find a team! </span>
</p>

<br>

<div align="center">
    <p class="heading1" >Choose where will be your event on the map or enter the coordinates below</p>
</div>

<br>
<div align="center">

    <div id="map"style="width:1200px;height:800px;background:purple"></div>
    <script>
        function initMap() {
            var center = {lat: 42.662369, lng:  23.373397};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: center
            });
            var marker = new google.maps.Marker({
                position: center,
                map: map,
                draggable: true
            });

            google.maps.event.addListener(marker, 'dragend', function(evt){
                document.getElementById('mapEnd1').value = evt.latLng.lat().toFixed(3);
                document.getElementById('mapEnd2').value = evt.latLng.lng().toFixed(3);

            });

            google.maps.event.addListener(myMarker, 'dragstart', function(evt){
                document.getElementById('mapEnd1').value = "";
                document.getElementById('mapEnd2').value = "";
            });

            map.setCenter(marker.position);
            myMarker.setMap(map);
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8SYKd91aaFo6L3B-sq4tbSHa-wHzuByE&callback=initMap">
    </script>
</div>

<br>
<!--<form method="post" th:object="${event}">-->
<div class="transbox4">

    <form method="post" th:object="${event}">
    <p align="center" class ="specialText">
        <span class="blue"> INFO </span>
    </p>
    <div align="center">
        <div id="info" class ="specialText">
            <span class="blue"> Event name*: </span><br>
            <input type="text" class="input2" th:field="*{name}" /><br>

            <span class="blue"> Games at the event*: </span><br>
            <input type="text" class="input2" th:field="*{gamesToParse}" /><br>

            <span class="blue"> Date*: </span><br>
            <input type="text" class="input2" th:field="*{date}" /><br>

            <span class="blue"> Player emails*: </span><br>
            <input type="text" class="input2" th:field="*{usersToParse}" /><br>

            <span class="blue"> Description: </span><br>
            <input type="textarea" class="input2" th:field="*{description}" /><br>

            <span class="blue"> latitude*: </span><br>
            <input id="mapEnd1" type="text" class="input2" th:field="*{latitude}" value="" /><br>

            <span class="blue"> longitude*: </span><br>
            <input id="mapEnd2" type="text" class="input2" th:field="*{longitude}" value="" /><br>
            <p class="smallInfo" align="center">fields with * must be filled!</p>
        </div>

    </div>
</div>

<br>

<p align="center"> <button  type="submit" class="create button1"><b>Submit the Event</b></button> </p>
</form>


<br><br>
<div id="footer">
    <br>
    <div align="center">
        <a href="https://www.facebook.com/todor.dimitrov.357284" target="_blank"><img src="/resources/images/1.png" width ="90" height ="90"></a> &nbsp
        <a href="https://twitter.com/Todorakisa" target="_blank"><img src="/resources/images/2.png" width ="90" height ="90"></a> &nbsp
        <a href="https://plus.google.com" target="_blank"><img src="/resources/images/3.png" width ="90" height ="90"></a> &nbsp
        <a href="https://www.instagram.com/todor.domitrov2000/" target="_blank"><img src="/resources/images/4.png" width ="90" height ="90"></a> &nbsp
        <br><br>
        <a href="#Advertising" style="text-decoration: none" target="_blank"><font color="white"><font size="6"><b>Advertising</a></b>&nbsp
        |&nbsp <a href="#Terms" style="text-decoration: none" target="_blank"><font color="white"><b>Terms and Conditions</a></b>&nbsp
        |&nbsp <a href="#FAQ" style="text-decoration: none" target="_blank"><font color="white"><b>FAQ</a></b>&nbsp
        |&nbsp <a href="#Contact" style="text-decoration: none" target="_blank"><font color="white"><b>Contact us</a></b></font>
        <br><br>
        <span id="copy">Copyright © 2018 Board Game inc.™</span>
        <br><br>
    </div>
</div>

</body>
</html>