<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="5; URL='http://localhost:8080/admin/manage/users'" charset="UTF-8" />
    <title>User Deleted</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
</head>
<body style="background: url('https://webgradients.com/public/webgradients_png/019%20Malibu%20Beach.png')">
    <div class="container-fluid" style="position: absolute; top: 40%">
        <h1 style='text-align: center; color: firebrick; font-weight: bold'>User deleted!</h1>
    </div>";
</body>
</html>