.table{
    width: 50%;
    top: 25%;
    position: absolute;
    right: 25%;
}
.btn-change{
    height: 50px;
    width: 100px;
    background: lightseagreen;
    margin: 20px;
    float: left;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
    color: #fff;
}
.btn-change:hover{
    -webkit-transform: scale(1.1);
    background: #31708f;
}
#edit{
    position: absolute;
    right: 50%;
    top: 50%;
    border-radius: 10%;
}

#delete{
    position: absolute;
    right: 40%;
    top: 50%;
    border-radius: 10%;
}

#ed, #del{
    border-radius: 10%;
}
input[type="text"], textarea {

    background-color: #969fa4;

}