<!DOCTYPE html>
<html>

<head>
    <title>About us</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/resources/css/styling.css">
</head>

<body id="homebody">
<ul>
    <li><a href="/">Home</a></li>
    <li><a class="active" href="/user/eventsAndPeople">Events & People</a></li>
    <li><a href="./Trade.html">Trade</a></li>
    <li><a href="#chat">Wiki</a></li>
    <li><a href="#account">Account</a></li>
    <li><a href="/user/aboutUs">About us</a></li>
    <li style="float:right">
        <a href="/logout">Sign out</a>
    </li>
</ul>

<br>
<p>
    <img class="logo" src="/resources/images/logo.png" width="400" height="175">
    <span class="heading"> &nbsp Choose your game & find a team! </span>
</p>

<br>
<p align="center" id="aboutus">
    We are devolepers and this is our startup!
    We love board games and that's why we descided
    to create a platform where everyone can find a frend to play ðŸ˜€.
    To contact <br>Us please send email to <span id="mail"> todor.domitrov2000@gmail.com </span>
    or use the aforementioned coordinates. Have Fun!
</p>


<br><br>
<div align="center">
    <a href="https://www.facebook.com/todor.dimitrov.357284" target="_blank"><img src="/resources/images/1.png" width ="90" height ="90"></a> &nbsp
    <a href="https://twitter.com/Todorakisa" target="_blank"><img src="/resources/images/2.png" width ="90" height ="90"></a> &nbsp
    <a href="https://plus.google.com" target="_blank"><img src="/resources/images/3.png" width ="90" height ="90"></a> &nbsp
    <a href="https://www.instagram.com/todor.domitrov2000/" target="_blank"><img src="/resources/images/4.png" width ="90" height ="90"></a> &nbsp
    <br><br>
    <a href="#Advertising" style="text-decoration: none" target="_blank"><font color="white"><font size="6"><b>Advertising</a></b>&nbsp
    |&nbsp <a href="#Terms" style="text-decoration: none" target="_blank"><font color="white"><b>Terms and Conditions</a></b>&nbsp
    |&nbsp <a href="#FAQ" style="text-decoration: none" target="_blank"><font color="white"><b>FAQ</a></b>&nbsp
    |&nbsp <a href="/user/eventsAndPeople/ContactUs" style="text-decoration: none" target="_blank"><font color="white"><b>Contact us</a></b></font>
    <br><br>
    <span id="copy">Copyright Â© 2018 Board Game inc.â„¢</span>
    <br><br>
</div>

</body>
</html>

