<!DOCTYPE html>
<html lang = "en">

<head>
    <title>Home page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./styling.css">
</head>

<body id="homebody">
<!--<ul>-->
    <!--<li><a class="active" href="./BordFinder.html">Home</a></li>-->
    <!--<li><a href="./Events&People.html">Events & People</a></li>-->
    <!--<li><a href="./Trade.html">Trade</a></li>-->
    <!--<li><a href="#chat">Chat</a></li>-->
    <!--<li><a href="#account">Account</a></li>-->
    <!--<li><a href="#about">About us</a></li>-->
    <!--<li style="float:right"><a href="#signing">-->
        <!--<img src="./user.png" width="30" height="30" style="vertical-align: middle"> Sign out</a></li>-->
<!--</ul>-->

<!--<br>-->
<!--<p>-->
    <!--<img class="logo" src="./logo.png" width="400" height="175">-->
    <!--<span class="heading"> &nbsp Choose your game & find a team! </span>-->
<!--</p>-->

<!--<br>-->
<!--<p align="center"> <img src="./events.png"></p>-->

<!--<br>-->
<!--<p align="center"> <img src="./news.png"></p>-->

<!--<br><br>-->
<!--<div align="center">-->
    <!--<a href="https://www.facebook.com" target="_blank"><img src="./1.png" width ="90" height ="90"></a> &nbsp-->
    <!--<a href="https://twitter.com" target="_blank"><img src="./2.png" width ="90" height ="90"></a> &nbsp-->
    <!--<a href="https://plus.google.com" target="_blank"><img src="./3.png" width ="90" height ="90"></a> &nbsp-->
    <!--<a href="https://www.instagram.com" target="_blank"><img src="./4.png" width ="90" height ="90"></a> &nbsp-->
    <!--<br><br>-->
    <!--<a href="#Advertising" style="text-decoration: none" target="_blank"><font color="white"><font size="6"><b>Advertising</a></b>&nbsp-->
    <!--|&nbsp <a href="#Terms" style="text-decoration: none" target="_blank"><font color="white"><b>Terms and Conditions</a></b>&nbsp-->
    <!--|&nbsp <a href="#FAQ" style="text-decoration: none" target="_blank"><font color="white"><b>FAQ</a></b>&nbsp-->
    <!--|&nbsp <a href="#Contact" style="text-decoration: none" target="_blank"><font color="white"><b>Contact us</a></b></font>-->
    <!--<br><br>-->
    <!--<span id="copy">Copyright © 2018 Board Game inc.™</span>-->
    <!--<br><br>-->
<!--</div>-->

    <meta charset="UTF-8"/>
    <title>Home Page</title>
</head>
<body>
<h1>Hello</h1>
If you want to register, please click <a href="/users/register">here</a>.
</body>
</html>