<!DOCTYPE html>
<html lang = "en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <script src="../../static/index.js" type="text/html"></script>
    <link rel="stylesheet" type="text/css" href="../../static/style.css"  th:href="@{/static/style.css}" />
    <link rel="stylesheet" type="text/css" href="../../static/home.css" th:href="@{/static/home.css}" />
</head>
<body>
    <div class="widget center">

        <div class="blur"></div>
            <div id="particles-js"></div>

            <!-- stats - count particles -->
            <div class="count-particles">
            <span class="js-count-particles">--</span> particles
            </div>
        <div class="text center">
            <h3 style="color: white">  X. Discover Board Gaming .X </h3>
            <a href="/register"> Join Us </a>
        </div>
    </div>
</body>
</html>
